name: Post to X

on:
  push:
    tags:
      - 'v*'

jobs:
  post-to-x:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Post to X
        uses: captradeoff/x-post-action@v1
        with:
          appKey: ${{ secrets.X_APP_KEY }}
          appSecret: ${{ secrets.X_APP_SECRET }}
          accessToken: ${{ secrets.X_ACCESS_TOKEN }}
          accessSecret: ${{ secrets.X_ACCESS_SECRET }}
          message: 'ラブライブ！ランキングツール ${{ github.ref_name }} が公開されました！ こちらからチェック: https://hamproductions.github.io/the-sorter/'
